.contacts-ListRow td {
	border-bottom: 5px solid white;
	border-right: 5px solid white;;
	margin-bottom: 5px;
	border-spacing: 10px;
}

table {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	spacing: 0px;
}

td {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	spacing: 0px;
}

th,td {
	padding: 0px;
}

td.add-contact-label {
	text-align: left;
}

add-contact-input {
	border: 1px solid red;
	border-collapse: collapse;
	margin-right: 0px;
	margin-left: auto;
}

td.contacts-NavContainer {
	padding-left: 10px;
	padding-right: 10px;
}

td.contacts-ListMenu {
	background-color: #D0E4F6;
	padding-bottom: 6px;
}

td.contacts-ListContainer {
	padding-right: 10px;
}

.contacts-HeaderContainer {
	padding-right: 10px;
}

td.contacts-ListCheckbox {
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.contacts-ListName {
	padding-top: 2px;
	padding-bottom: 2px;
}

.gwt-DecoratorPanel .middleCenter {
	height: 100%;
	width: 100%;
}

.detailsPanel {
	border: 1px solid #E2E2E2;
	padding-right: 10px;
}

.panelStyle {
	margin-left: 5px;
}

/* stock list header row */
.contactListHeader {
	background-color: #ddeeff;
	color: black;
	font-style: italic;
	font-size: 16px;
}

.contactListSelectedRow {
	background-color: #ddeeff;
	color: black;
	font-style: italic;
	font-size: 16px;
	cursor: pointer;
}

.contactListRow {
	padding: 8px 5px;
	border-top: 1px solid lavender;
	border-bottom: 1px double lavender;
	cursor: pointer;

}

.transparentLabel {
	background-color: transparent;
}

.textBoxInvalid {
	background-color: #ff5533;
}

.textBoxLabel {
	font-style: italic;
	color: gray;
}
.detailsTable {
	border-top: 5px;
	border-bottom: 5px;

}
.innerPanelStyle {
	border-top: 1px outset;
	border-right: 1px outset;
	border-bottom: 2px outset;
	border-left: 1px outset;

}
.innerlink {
	font-size: 80%;
	cursor: pointer;
}

a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {
	text-decoration:none}
	}
a:active {text-decoration:none}